
.container {
  position: fixed;
  width: 600px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.userInputContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#result {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#result > div {
  list-style-type: none;
  width: 80px;
  flex-direction: row;
  font-size: 30px;
  ;
}

button{
  width: 100px;
}

h1 {
  text-align: center;
}